<h1>Multiply Result</h1>
<p>@ViewData["MultiplyResult"]</p>>

@{
    int left = Convert.ToInt32(ViewData["Left"]);
    int right = Convert.ToInt32(ViewData["Right"]);
    int result = left * right;
}

<p>@result</p>